@import url('https://fonts.cdnfonts.com/css/stranger-things');
/*https://en.namu.wiki/w/%EC%9C%8C%20%EB%B0%94%EC%9D%B4%EC%96%B4%EC%8A%A4*/
/*https://canva.link/ggz7v3h8c97boo9 - REF GUI*/


* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}

body {
    background-color: black;
    color: white;
  
    align-items: center;
}

header{
    text-align: center;
    background-color: black;
    
}
#logoh { /* Logo Header */
    width: 632px;
    height: 200px;
    object-fit: cover;
}


nav {
    text-align: center;
    font-size: xx-large;
    

}

a{
    text-decoration:none;
    color: aliceblue;
}
/*-----------------------------------------ESTILO NAV  ---------------------------------------------------------*/ 


#sobre{

    background-image: url(/img/bghorizontal.webp);
    object-fit: cover;
    font-size: 37px;
    text-align: center;
    width: 100%;
    height: 400px;
    background-position: center;
    background-size:cover;
 
                                                
  
}
   



#personagens{
background-color: #02183F; 
font-family:                                         'Stranger Things', sans-serif;
}

.caixapersonagens{ /*Caixa invísivel personagens*/
    width: 200px; 
    height: 20px;
    padding-left: 5px;
    padding-top: 20px;
    margin-top: 20px;
    margin-left:40px;
    align-items: baseline;
    display: inline-block;
}

.pimg{ /*Imagens Personagens*/
    width: 280px; 
    height: 280px;
    object-fit: contain;
   
   
}

.pnomes{ /*Nomes Personagens*/
    text-align: right;
}

.arcosf{ /*Box personagens*/
    background-color: black;
    width: 610px; 
    height: 310px;
    margin-top: 10px;
    margin-left:50px;
    margin-bottom: 50px;
    display: inline-block;
    border: 4px, solid,red;
    font-size: 100px;
    text-align:center;
}

.aimg{ /*Imagens Arco*/
    width: 600px; 
    height: 250px;
    object-fit: cover;
}

.anomes{
    text-align: center;
    font-size: 20px;
}

footer{
    background-color: white;
    color: black;
    text-align: center;
}